@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.container {
    width: 100%;
    background: #f4f4f4;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 60% 40%
}

.global-stats {
    border: 2px solid grey;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    padding: 1rem .5rem;
    z-index: 1000;
    height: 25%;
    width: 100%;
    
}

.global-stats h3 {
    
    margin-bottom: 2rem;
    background: #f4f4f4;
    
    
}
.global-card {
    
    
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    text-align: center;
    font-weight: 700;
   
    border-radius: 5px;
    font-size: 1rem;
    
}

.global-card .global-card-header {
    background: #fafafa;
    padding: 5px 10px;
    font-size: 1rem;
    
}


.global-card .global-card-content {
    background: #fff;
    margin-bottom: .5rem;
    padding: 10px 10px;
   

}

.country {
    width: 100%;
    margin-bottom: 1rem;
}

.country::before {
    content: '';
    width: 50px;
    height: 5px;
    background: #c91c55;
    padding: 0 2rem;
    position: absolute;
    top: 59px;
    margin-bottom: 1rem;
}



.statistics {
    background: #fff;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-holder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.card {
    background: #f4f4f4;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.0164);
    justify-content: space-between
}

.card-header, .news-card-header {
    background: #fafafa;
    
    padding: 5px 10px

}

.card-content, .news-card-content  {
    padding: 10px
}

.card-content h4 {   
    font-size: .8rem
}

.confirmed {
    color: #e53e3e;
}

/* .confirmed-bg {
    background :#ffe3e37a !important
} */

.death {
    
    font-weight: bold;
    color:#718096 !important; 
}

/* .death-bg {
    
    font-weight: bold;
    background:  #edf2f7  !important
} */


 .recovered {
    color: #478500 !important;
}

/* .recovered-bg {
    background: #7ecea3 !important;
} */

.card-content h4 .label {
    color: grey;
}

.news{
    margin-left: auto;
    background: #fff;
    padding: 2rem 2rem;
    
}

.news .news-card {
    background: #fff;
    width: 100%; 
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.0164);
}

.news-card-content  {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4
    
}

.news-card-content .news-image {
    width: 40%;
    height: auto;
    overflow: auto
}

.news-card-content .news-image img{
    width: 100%
}

.news-card-content .news-content {
    width: calc(100% - 40%);
    margin-left: auto;
    padding: 0px 0px 0px 10px;

}

.read-more {
    position: absolute;
    right: 0;
    bottom: 5px;
    margin-right: 10px;
    padding-top: 3px
}

.read-more a {
    text-decoration: none;
    color: grey
}

@media (max-width: 900px) {
    .container {
        display: grid;
        padding: 0;
    }
    .statistics {
        background: #fff ;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1/3;
        grid-row: 1/2;
        position: relative;
    }

    .country {
        margin-bottom: 1rem;
        width: 100%;
        grid-column: 1/4;
    }

    .country::before {
        content: '';
        width: 50px;
        height: 2px;
        background: #c91c55;
        padding: 0 2rem;
        position: absolute;

        
    }
    
    .global-stats {
        display: grid;
        grid-column: 1/6;
        border: none;
        
    }

    .global-card {
     
        
    }

    .news{
        
        display: grid;
        background: #fff;
        padding: 0 2rem;
        grid-column: 1/3;
        grid-column-gap: 1rem;
    }

    .news-card{
        
      
        grid-column: 1/3;
        grid-column-gap: 1rem;
    }

    .card-holder {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(3, 1fr);
        width: auto;

    }

    .card {
        width: 100%;
        margin-right: 1rem;
        background: #f4f4f4; 
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.0164);
    }
}


@media (max-width: 600px) {
    .container {
        display: grid;
        padding: 0;
    }
    .statistics {
        background: #fff ;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1/3;
        grid-row: 1/2;
        position: relative;
    }

    .country {
        margin-bottom: 1rem;
        width: 100%;
        grid-column: 1/4;
    }

    .country::before {
        content: '';
        width: 50px;
        height: 2px;
        background: #c91c55;
        padding: 0 2rem;
        position: absolute;

        
    }
    
    .global-stats {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        border: none;
        
    }

    .global-card {
        display: grid;
        grid-column: 1/3;
        border: none;
        
    }

    .news{
        
        display: grid;
        background: #fff;
        padding: 0 2rem;
        grid-column: 1/3;
        grid-column-gap: 1rem;
    }

    .news-card{
        
      
        grid-column: 1/3;
        grid-column-gap: 1rem;
    }

    .card-holder {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(3, 1fr);
        width: auto;

    }

    .card {
        width: 100%;
        margin-right: 1rem;
        background: #f4f4f4; 
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.0164);
    }
}

@media (max-width: 400px) {
    .container {
        display: grid;
        padding: 0;
    }
    .statistics {
        background: #fff ;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1/3;
        grid-row: 1/2;
        position: relative;
    }

    .country {
        margin-bottom: 1rem;
        width: 100%;
        grid-column: 1/4;
    }

    .country::before {
        content: '';
        width: 50px;
        height: 2px;
        background: #c91c55;
        padding: 0 2rem;
        position: absolute;

        
    }
    
    .global-stats {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        border: none;
        
    }

    .global-card {
        display: grid;
        grid-column: 1/3;
        border: none;
        
    }

    .news{
        
        display: grid;
        background: #fff;
        padding: 0 2rem;
        grid-column: 1/3;
        grid-column-gap: 1rem;
    }

    .news-card{
        
      
        grid-column: 1/4;
        grid-column-gap: 1rem;
    }

    .card-holder {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(2, 1fr);
        width: auto;

    }

    .card {
        width: 100%;
        margin-right: 1rem;
        background: #f4f4f4; 
        margin-bottom: 2rem;
        border-radius: 5px;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.0164);
    }

    .read-more {
        position: absolute;
        right: 0;
        bottom: 5px;
        margin-right: 10px;
        padding-top: 3px
    }
}