<div class="statistics">
  <div class="card" *ngFor="let list of trackerList">
      <div class="card-header">
          <h3>{{list.countryName}}</h3>
      </div>
    <div class="card-content">
        <h4 class="confirmed">{{list.confirmed}} <span class="label">cases confirmed</span> </h4>
        <h4 class="recovered">{{list.recovered}} <span class="label">recovered cases</span> </h4>
        <h4 class="death"> {{list.deaths}} <span class="label">death cases</span> </h4>
    </div>
  </div>
</div>

<div class="news">
    <div class="news-card" *ngFor= "let news of newList.items">
        <div class="news-card-header">
            <h3>{{news.title}}</h3>
        </div>
      <div class="news-card-content">
       <div class="news-image">
          <img src={{news.urlToImage}} alt="">
       </div>
       <div class="news-content">
          <p>{{news.description}} </p>
          
       </div>
       
       <!-- <span class="read-more"> <a (click)="gotoFeed()" >Read More</a> </span> -->
       <span class="read-more"> <a href = {{news.url}} target = "__blank" >Read More</a> </span>
      </div>
    </div>

    <app-footer></app-footer>

</div>

